body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-image: url(https://images.unsplash.com/photo-1677784975579-b16f8028b555?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1856&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #f5f6f7;
  font-family: Tahoma;
  font-size: 16px;
}
h1, p {
  margin: 1em auto;
  text-align: center;
}
form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}
fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #dda3e2;
  background-color: #8A1ACF80;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
fieldset:last-of-type {
  border-bottom: none;
}
label {
  display: block;
  margin: 0.5rem 2;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 15px;
}
input,
textarea,
select {
  margin: 10px;
  width: 490px;
  min-height: 2em;
  border-radius: 8.5px;
  font-family: Inter;
  font-style: normal;
}
input, textarea {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  width: 150px;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #31e255;
  border-color: rgba(255, 255, 255, 0);
  min-width: 0px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.45);
}
select[name="role"] {
  padding: 1px 2px;
  width: 490px;
}
select[name="feature"] {
  padding: 1px 2px;
  width: 490px;
}
textarea {
  height: 100px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.45);
}
input[type="radio"] {
  margin-left: 10px;
  margin-top: 10px;
}
input[type="checkbox"] {
  margin-left: 10px;
}
input[id="Definitely"] {
  margin-top: 2px;
}
input[id="Maybe"] {
  margin-top: 2px;
}
input[id="Not Sure"] {
  margin-top: 2px;
}input[id="name"] {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.45);
  text-align: center;
}
input[id="email"] {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.45);
  text-align: center;
}
input[id="number"] {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.45);
  text-align: center;
}
select[id="dropdown"] {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.45);
  text-align: center;
}
